body {
    background-color: lightgray;
}

#HeadUI {
    font-size: 10px;
    background-color: lightgray;
}

#HeadUI ul {
    margin: 10px;
    text-align: right;
    list-style-type: none;
}

#HeadUI ul li {
    display: inline-block;
    margin: 4px 10px;
}

#HeadUI ul li a {
    color: black;
    text-decoration: none;
}

.navbar {
    padding: 20px;
    margin: 10px 0px;
    font-weight: bold;
}

.logo {
    background: url('../../public/images/h1_logo.png');
    content: '';
    width: 109px;
    height: 46px;
    margin-right: 100px;
    display: inline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#join_body {
    background-color: white;
    display: flex;
    margin-top: 50px;
}

#join_left {
    margin-left: 10px;
    margin-right: 30px;
    width: 400px;
}

#join_left_head {
    border-bottom: 2px yellow solid;
}

#join_left_msg {
    width: 200px;
}

#join_accept_box {
    width: 100%;
    margin: 30px;
}

#join_next_box {
    text-align: right;
}

#join_detail_box {
    background-color: white;
    padding: 10px;
    width: fit-content;
}

#user_info_form label {
    width: 100px;
}

#submit_box {
    margin-top: 10px;
    text-align: right;
}

#signIn_Container {
    background-color: white;
    display: inline-block;
    border: 1px black solid;
    padding: 10px;
    align-items: baseline;
}

#sideBar {
    width: 250px;
    margin-left: 0px;
}

#menu_container {
    display: flex;
}

#Menu_Body {
    margin-left: 30px;
    padding: 10px;
    width: 100%;
}

.row {
    padding: 10px;
}

.row .card {
    box-sizing: border-box;
    width: 270px;
    height: 335px;
    margin: 5px;
}

.card-img {
    max-height: 60%;
}

#detail-container {
    background-color: white;
    margin-top: 30px;
}

#detail-head {
    height: 100px;
    padding: 30px;
    align-items: center;
    display: flex;
}

#detail-body {
    display: flex;
}

#detail-img {
    background: url('../../public/images/no_image.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    height: 600px;
}

#detail-content {
    padding: 50px;
    width: 100%;

}

.price_text {
    color: gray;
}

.sub_item {
    display: flex;
}

.sub_item * {
    margin-right: 10px;
}

#main_price,
#order_container {
    text-align: right;
}

#main_price * {
    vertical-align: text-top;
}

#total_price {
    margin-left: 20px;
    font-size: 30px;
    color: orange;
}

#order_btn {
    background-color: lightcyan;
}

#myInfo {
    background-color: white;
    padding: 30px;
}